lesson02/articles.csv
lesson02/conf_matrix.png
lesson02/interests.png
lesson02/payments.png
lesson02/payments1.png
lesson02/psycho.png
lesson02/stopwords.txt
lesson02/tm1.png
lesson02/uplift.png
lesson02/users_articles.csv
lesson02/users_churn.csv
lesson02/webinar2.ipynb
lesson03/train_case2.csv

